@model IEnumerable<Library_Management_System.Models.BorrowedBooks>

@{
    ViewData["Title"] = "Bookdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bookdetails</h1>

<p>
    <a asp-action="RegUser" class="btn btn-primary">Registered Users List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                    <a asp-action="DeleteBook" asp-route-id="@item.Id" class="btn btn-success" onclick="return confirm('Are you sure ?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>